{% extends "base.html" %}

{% load static %}

{% block content %}
  <main class="signup">
    <div class="signup-page">
      <div class="left">
        <h1 class="want">Want to stay organized?</h1>
        <div class="signup-form">
          <h1>Signup</h1>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Signup</button>
          </form>
        </div>
      </div>
      <img src="{% static 'images/checklist.png' %}"
           alt="check list"
           width="400"
           height="400">
    </div>
  </main>
{% endblock content %}
