{% extends "base.html" %}

{% block content %}
  <main>
    <div>
      <h1>My Tasks</h1>
      {% if my_task.count == 0 %}
        <p>You have no tasks</p>
      {% else %}
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Start date</th>
              <th>Due date</th>
              <th>Is completed</th>
            </tr>
          </thead>
          <tbody>
            {% for each in my_task %}
              <tr>
                <td>{{ each.name }}</td>
                <td>{{ each.start_date }}</td>
                <td>{{ each.due_date }}</td>
                <td>{{ each.is_completed|yesno }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </main>
{% endblock content %}
