<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <main>
      <div>
        <h1>{{ single_project.name }}</h1>
        <p>{{ single_project.description }}</p>
        <h2>Tasks</h2>
        {% if single_project.tasks.count != 0 %}
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Assignee</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
              </tr>
            </thead>
            <tbody>
              {% for each in single_project.tasks.all %}
                <tr>
                  <td>{{ each.name }}</td>
                  <td>{{ each.assignee }}</td>
                  <td>{{ each.start_date }}</td>
                  <td>{{ each.due_date }}</td>
                  <td>{{ each.is_completed }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>This project has no tasks</p>
        {% endif %}
      </div>
    </main>
  </body>
</html>
