{% extends "base.html" %}

{% block content %}
  <main>
    <div class="project-detail">
      <h1>Project: {{ single_project.name }}</h1>
      <h2>Description:</h2>
      <p>{{ single_project.description }}</p>
      <p class="create-task">
        <a href="{% url "create_task" %}">
          <button>Add a new task</button>
        </a>
      </p>
      {% if single_project.tasks.count != 0 %}
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Assignee</th>
              <th>Due date</th>
              <th>Is completed</th>
            </tr>
          </thead>
          <tbody>
            {% for each in single_project.tasks.all %}
              <tr>
                <td>
                  <a href="{% url "view_each_task" each.id %}">{{ each.name }}</a>
                </td>
                <td>{{ each.assignee }}</td>
                <td>{{ each.due_date|date:"m/d/y P" }}</td>
                <td>{{ each.is_completed|yesno }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>This project has no tasks</p>
      {% endif %}
    </div>
  </main>
{% endblock content %}
